In [4]:
import pandas as pd

In [16]:
data = pd.read_csv("../datasets/datasets2Encode.csv")

            Quantity
count  522064.000000
mean        0.997441
std         0.050523
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         1.000000