In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [8]:
#data = pd.read_excel("Online Retail.xlsx")
#Membaca Dataset

#Meload Dataset dari file csv
data = pd.read_csv("ind.csv", sep = ";")

#Menampilkan 20 data teratas
data.head(20)

C:\Users\Budi\AppData\Local\Temp\ipykernel_8472\3758662125.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("ind.csv", sep = ";")

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,01.12.2010 08:26,"2,55",17850.0,United Kingdom
1,536365,WHITE METAL LANTERN,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
2,536365,CREAM CUPID HEARTS COAT HANGER,8,01.12.2010 08:26,"2,75",17850.0,United Kingdom
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,01.12.2010 08:26,"3,39",17850.0,United Kingdom
5,536365,SET 7 BABUSHKA NESTING BOXES,2,01.12.2010 08:26,"7,65",17850.0,United Kingdom
6,536365,GLASS STAR FROSTED T-LIGHT HOLDER,6,01.12.2010 08:26,"4,25",17850.0,United Kingdom
7,536366,HAND WARMER UNION JACK,6,01.12.2010 08:28,"1,85",17850.0,United Kingdom
8,536366,HAND WARMER RED POLKA DOT,6,01.12.2010 08:28,"1,85",17850.0,United Kingdom
9,536367,ASSORTED COLOUR BIRD ORNAMENT,32,01.12.2010 08:34,"1,69",13047.0,United Kingdom
10,536367,POPPY'S PLAYHOUSE BEDROOM,6,01.12.2010 08:34,"2,1",13047.0,United Kingdom
11,536367,POPPY'S PLAYHOUSE KITCHEN,6,01.12.2010 08:34,"2,1",13047.0,United Kingdom
12,536367,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,01.12.2010 08:34,"3,75",13047.0,United Kingdom
13,536367,IVORY KNITTED MUG COSY,6,01.12.2010 08:34,"1,65",13047.0,United Kingdom
14,536367,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,01.12.2010 08:34,"4,25",13047.0,United Kingdom
15,536367,BOX OF VINTAGE JIGSAW BLOCKS,3,01.12.2010 08:34,"4,95",13047.0,United Kingdom
16,536367,BOX OF VINTAGE ALPHABET BLOCKS,2,01.12.2010 08:34,"9,95",13047.0,United Kingdom
17,536367,HOME BUILDING BLOCK WORD,3,01.12.2010 08:34,"5,95",13047.0,United Kingdom
18,536367,LOVE BUILDING BLOCK WORD,3,01.12.2010 08:34,"5,95",13047.0,United Kingdom
19,536367,RECIPE BOX WITH METAL HEART,4,01.12.2010 08:34,"7,95",13047.0,United Kingdom

In [9]:
#cek null value
data.isnull().sum()

BillNo             0
Itemname        1455
Quantity           0
Date               0
Price              0
CustomerID    134041
Country            0
dtype: int64

In [34]:
#drop na value pada kolom Itemname
data = data.dropna(subset=["Itemname"])

In [11]:
#cek null value
data.isnull().sum()

BillNo             0
Itemname           0
Quantity           0
Date               0
Price              0
CustomerID    132586
Country            0
dtype: int64

In [12]:
#menghitung jumlah 
data["Itemname"].value_counts()

WHITE HANGING HEART T-LIGHT HOLDER     2269
JUMBO BAG RED RETROSPOT                2087
REGENCY CAKESTAND 3 TIER               1930
PARTY BUNTING                          1677
LUNCH BAG RED RETROSPOT                1570
                                       ...
FOOD COVER WITH BEADS , SET 2 SIZES       1
POLYESTER FILLER PAD 60x40cm              1
damages/credits from ASOS.                1
samples                                   1
PAPER CRAFT , LITTLE BIRDIE               1
Name: Itemname, Length: 4185, dtype: int64

In [13]:
#Menampilkan data dengan CustomerID Null
data[data['CustomerID'].isnull()]

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country
1410,536544,DECORATIVE ROSE BATHROOM BOTTLE,1,01.12.2010 14:32,"2,51",NaN,United Kingdom
1411,536544,DECORATIVE CATS BATHROOM BOTTLE,2,01.12.2010 14:32,"2,51",NaN,United Kingdom
1412,536544,POLKADOT RAIN HAT,4,01.12.2010 14:32,"0,85",NaN,United Kingdom
1413,536544,RAIN PONCHO RETROSPOT,2,01.12.2010 14:32,"1,66",NaN,United Kingdom
1414,536544,VINTAGE SNAP CARDS,9,01.12.2010 14:32,"1,66",NaN,United Kingdom
...,...,...,...,...,...,...,...
521695,581498,JUMBO BAG RED RETROSPOT,5,09.12.2011 10:26,"4,13",NaN,United Kingdom
521696,581498,JUMBO BAG BAROQUE BLACK WHITE,4,09.12.2011 10:26,"4,13",NaN,United Kingdom
521697,581498,LADIES & GENTLEMEN METAL SIGN,1,09.12.2011 10:26,"4,96",NaN,United Kingdom
521698,581498,S/4 CACTI CANDLES,1,09.12.2011 10:26,"10,79",NaN,United Kingdom
521699,581498,DOTCOM POSTAGE,1,09.12.2011 10:26,"1714,17",NaN,United Kingdom

In [14]:
#Mengisi semua na value dengan 0
data = data.fillna(0)

In [15]:
data[data["CustomerID"].isnull()]

Empty DataFrame
Columns: [BillNo, Itemname, Quantity, Date, Price, CustomerID, Country]
Index: []

In [16]:
data.isnull().sum()

BillNo        0
Itemname      0
Quantity      0
Date          0
Price         0
CustomerID    0
Country       0
dtype: int64

In [17]:
#mengubah kedalam bentuk date
data["Date"] = pd.to_datetime(data["Date"])

In [18]:
#Mengubah tanda pada price ke dalam koma
data["Price"] = data["Price"].str.replace(",",".")
data["Price"] = pd.to_numeric(data["Price"])

In [19]:
data["Price"]

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
522059    0.85
522060    2.10
522061    4.15
522062    4.15
522063    4.95
Name: Price, Length: 520609, dtype: float64

In [20]:
data["Sales"] = data["Quantity"] * data["Price"]

In [21]:
data.head()

,BillNo,Itemname,Quantity,Date,Price,CustomerID,Country,Sales
0,536365,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-01-12 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,WHITE METAL LANTERN,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,CREAM CUPID HEARTS COAT HANGER,8,2010-01-12 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,RED WOOLLY HOTTIE WHITE HEART.,6,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,20.34

In [22]:
top20items = pd.DataFrame(data["Itemname"].value_counts().head(20))
top20items = top20items.reset_index()
top20items.columns = ["Itemname","Frequency"]
labels = top20items["Itemname"]
sizes = top20items["Frequency"]
top20items

                              Itemname  Frequency
0   WHITE HANGING HEART T-LIGHT HOLDER       2269
1              JUMBO BAG RED RETROSPOT       2087
2             REGENCY CAKESTAND 3 TIER       1930
3                        PARTY BUNTING       1677
4              LUNCH BAG RED RETROSPOT       1570
5        ASSORTED COLOUR BIRD ORNAMENT       1465
6     SET OF 3 CAKE TINS PANTRY DESIGN       1360
7      PACK OF 72 RETROSPOT CAKE CASES       1328
8              LUNCH BAG  BLACK SKULL.       1315
9       NATURAL SLATE HEART CHALKBOARD       1246
10             JUMBO BAG PINK POLKADOT       1231
11               HEART OF WICKER SMALL       1206
12              JUMBO STORAGE BAG SUKI       1191
13      PAPER CHAIN KIT 50'S CHRISTMAS       1183
14   JUMBO SHOPPER VINTAGE RED PAISLEY       1181
15           LUNCH BAG SPACEBOY DESIGN       1169
16                 LUNCH BAG CARS BLUE       1156
17                      SPOTTY BUNTING       1133
18              JAM MAKING SET PRINTED       1123
19               LUNCH BAG SUKI DESIGN       1112

In [23]:
basket = data.groupby(["BillNo","Itemname"])["Quantity"].sum().unstack().reset_index().fillna(0).set_index("BillNo")
basket

Itemname,*Boombox Ipod Classic,*USB Office Mirror Ball,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 HANGING EGGS HAND PAINTED,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
BillNo,,,,,,,,,,,,,,,,,,,,,
536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572057,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
572058,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A563185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A563186,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A563187,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
#mengubah dari 0,0 menjadi 0
def one_hot_encoding(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1
basket = basket.applymap(one_hot_encoding)

In [25]:
basket

Itemname,*Boombox Ipod Classic,*USB Office Mirror Ball,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 DAISY PEGS IN WOOD BOX,12 EGG HOUSE PAINTED WOOD,12 HANGING EGGS HAND PAINTED,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,...,wrongly coded 20713,wrongly coded 23343,wrongly coded-23343,wrongly marked,wrongly marked 23343,wrongly marked carton 22804,wrongly marked. 23343 in box,wrongly sold (22719) barcode,wrongly sold as sets,wrongly sold sets
BillNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572057,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
572058,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
#Menemuka Frequent Itemsets dengan menggunakan algoritma apriori
frequent_itemsets = apriori(basket, min_support=0.02, use_colnames=True)

c:\Users\Budi\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [35]:
#Menerapkan Association Rule 
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)

In [32]:
rules = rules.sort_values("lift", ascending = False)

In [33]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
154,"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENC...",(PINK REGENCY TEACUP AND SAUCER),0.036170,0.036418,0.025482,0.704514,19.345428,0.024165,3.261013
155,(PINK REGENCY TEACUP AND SAUCER),"(GREEN REGENCY TEACUP AND SAUCER, ROSES REGENC...",0.036418,0.036170,0.025482,0.699728,19.345428,0.024165,3.209858
156,(GREEN REGENCY TEACUP AND SAUCER),"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY...",0.048243,0.028204,0.025482,0.528205,18.728115,0.024122,2.059785
153,"(PINK REGENCY TEACUP AND SAUCER, ROSES REGENCY...",(GREEN REGENCY TEACUP AND SAUCER),0.028204,0.048243,0.025482,0.903509,18.728115,0.024122,9.863659
25,(GREEN REGENCY TEACUP AND SAUCER),(PINK REGENCY TEACUP AND SAUCER),0.048243,0.036418,0.029936,0.620513,17.038810,0.028179,2.539170
...,...,...,...,...,...,...,...,...,...
149,(WOODEN PICTURE FRAME WHITE FINISH),(WHITE HANGING HEART T-LIGHT HOLDER),0.054033,0.108956,0.020040,0.370879,3.403936,0.014152,1.416332
130,(WHITE HANGING HEART T-LIGHT HOLDER),(NATURAL SLATE HEART CHALKBOARD),0.108956,0.060960,0.020336,0.186649,3.061823,0.013695,1.154532
131,(NATURAL SLATE HEART CHALKBOARD),(WHITE HANGING HEART T-LIGHT HOLDER),0.060960,0.108956,0.020336,0.333604,3.061823,0.013695,1.337109
80,(WHITE HANGING HEART T-LIGHT HOLDER),(JUMBO BAG RED RETROSPOT),0.108956,0.102128,0.021870,0.200727,1.965448,0.010743,1.123361
81,(JUMBO BAG RED RETROSPOT),(WHITE HANGING HEART T-LIGHT HOLDER),0.102128,0.108956,0.021870,0.214147,1.965448,0.010743,1.133856